<section>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= bootstrap_form_tag url: signin_path, layout: :horizontal,
                             html: {class: 'sign_in'} do |f| %>

        <%= f.email_field :email, label: 'Email Address' %>
        <%= f.password_field :password, label: 'Password' %>
        <%= f.submit 'Sign in', class: 'btn btn-success col-sm-offset-2' %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <hr/>
      <div class="form-group" id="signup-link">
        Or<br>
        <%= link_to "Sign up", signup_path %>
      </div>
    </div>
  </div>
</section>